@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  background: #2D2E36;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 22.25rem;
  height: auto;
  padding: 1.56rem;
  background: #383A45;
  border-radius: 0.5rem;
}

.card-media{
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.card-media > img {
  width: 100%;
}

.card-content{
  margin-bottom: 1rem;
}
.card-content > h3 {
  font-size: 1.8rem;
  color: white;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.card-content > p {
  color:#8D91A6;
  font-size: 1rem;
  line-height: 1.7rem;
}

.button-link{
  background: #8D91A6;
  padding: 0.2rem;
  border-radius: 0.1rem;
}

@media (min-width: 420px){
  .card-media{
    margin-bottom: 0;
    margin-right: 2rem;
    width: 30rem;
  }
  .card-content > h3{
    margin-top: 1.5rem;
  }
  .card{
    width: 45.56rem;
    height: auto;
    padding: 1.56rem;
    background: #383A45;
    border-radius: 0.5rem;
    display: flex;
  }
}